ARANGO_URL=http://localhost:8529
ARANGO_DB_NAME=xray_graph_db
ARANGO_USERNAME=root
ARANGO_PASSWORD=password
ARANGO_GRAPH_NAME=xray_graph

EMBEDDING_DIM=768
VECTOR_METRIC=cosine
VECTOR_NLISTS=100
VECTOR_NPROBE=20

MODEL_VERSION=ae_squid_v1
MASK_VERSION=lung_heart_mask_v1
EMBEDDING_VERSION=mock_pca_v1

USE_TORCH_ANOMALY=false
USE_TORCH_ROI=false
USE_TORCH_EMBEDDING=false

STORAGE_DIR=./storage
IMAGE_SIZE=256
